.Container {
  max-width: 360px;
  width: 100%;
  margin: auto;
}

.TitleContainer {
  padding-top: 2rem;
  text-align: center;
  position: relative;
}

.Icon1 {
  font-size: 5rem;
  color: black;
}

.Icon2 {
  font-size: 5rem;
  color: red;
}

.Icon3 {
  font-size: 5rem;
  color: black;
}

.Icon4 {
  font-size: 5rem;
  color: red;
}

.Title {
  font-size: 3.5rem;
  font-family: 'Erica One', cursive;
  text-transform: uppercase;
  background: linear-gradient(to bottom, red, black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.Subtitle {
  background-color: black;
  padding: 0 .25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  position: absolute;
  bottom: -.75rem;
  right: 2.5rem;
  transform: rotate(-3deg);
  color: var(--white);
}

.FormContainer {
  margin-top: 2rem;
  text-align: center;
}

.FormContainer p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.FormContainer label {
  font-family: 'Nunito', sans-serif;
  font-size: .9rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.FormContainer input:not([type="submit"]) {
  box-shadow: none;
  border: .125rem solid maroon;
  border-radius: 1rem;
  padding: .75rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background: #474b4e;
  color: var(--white);
  box-sizing: border-box;
}

.FormContainer input[type="submit"] {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: 'Erica One', cursive;
  text-transform: uppercase;
  background: linear-gradient(to bottom, red, black);
  border: none;
  line-height: 1;
  letter-spacing: .5px;
}

.PlayersContainer {
  margin-top: 2rem;
}

.PlayersContainer h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: var(--white);
  font-weight: 700;
}

.PlayersContainer ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0;
}

.PlayersContainer ul li {
  border-radius: .5rem;
  background-color: #7a7a7a;
  padding: .5rem;
  display: flex;
  align-items: baseline;
  margin: .5rem 0;
}

.PlayersContainer ul li span {
  background: linear-gradient(to bottom, red, black);
  padding: .125rem .25rem;
  border-radius: .25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-right: .25rem;
}

.PlayersContainer ul li h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: whitesmoke;
  flex: 1;
}

.PlayersContainer ul li p {
  font-family: 'Nunito', sans-serif;
  font-size: .8rem;
  color: var(--pink);
  margin-left: .25rem;
}

.PlayersContainer ul li button, .PlayersContainer ul li h4 {
  background-color: black;
  border-radius: .25rem;
  padding: .25rem;
  margin-left: .5rem;
  color: var(--white);
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.StartButton {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: 'Erica One', cursive;
  text-transform: uppercase;
  background: linear-gradient(to bottom, var(--yellow), black);
  border: none;
  line-height: 1;
  letter-spacing: .5px;
  text-shadow: 2px 2px maroon;
  width: 100%;
}

.StartButton:disabled {
  background: #AAA;
  color: #7a7a7a;
  text-shadow: none;
}